@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --onboard-modal-z-index: 100;
}

html,
body,
#root {
  height: 100%;
  width: 100%;

  /* background: linear-gradient(180deg, #562469 0%, rgb(0, 0, 0) 100%); */
  /* #6618E4 @ 0% */
  /* #952EE5 @ 100% */
}

.header-bg {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
}

.header-bg-bottom {
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.main-page-bg {
  background: url('../public/Stars.png');
  opacity: 0.7;
  background-color: #1b1a1f;
  background-size: 30%;
  background-repeat: repeat;
}

.body-bg {
  background-color: #1b1a1f;
  background-size: 30%;
  background-repeat: repeat;
}

.hero-collection {
  box-shadow: 0px 0px 84px 0px #ffffff66;
}

#font-picker {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

#font-picker button {
  height: 48px;
  background-color: white;
}
